@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --p3: Inter;

  /* font sizes */
  --font-size-mid: 17px;
  --p3-size: 18px;
  --h3-size: 28px;
  --font-size-3xl: 22px;
  --font-size-base: 16px;
  --font-size-mid-2: 17.2px;
  --font-size-mid-7: 17.7px;
  --font-size-lgi-7: 19.7px;
  --font-size-xl: 20px;
  --font-size-2xs-8: 10.8px;
  --h2-size: 36px;
  --font-size-10xl: 29px;
  --p1-size: 24px;
  --font-size-lgi: 19px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --tertiary-semibold-size: 12px;
  --font-size-6xl-5: 25.5px;
  --font-size-3xs-9: 9.9px;
  --font-size-2xl: 21px;
  --font-size-35xl: 54px;
  --font-size-24xl: 43px;
  --font-size-6xs: 7px;
  --font-size-sm: 14px;
  --font-size-smi-7: 12.7px;
  --font-size-4xs-4: 8.4px;
  --font-size-45xl: 64px;
  --font-size-32xl: 51px;
  --font-size-19xl: 38px;
  --font-size-25xl: 44px;
  --font-size-16xl: 35px;
  --font-size-mid-6: 17.6px;
  --font-size-2xl-5: 21.5px;
  --font-size-mid-5: 17.5px;
  --font-size-lg-8: 18.8px;

  /* Colors */
  --primary-white: #fff;
  --headblack: #212529;
  --primary-black: #232325;
  --color-gray-100: #1d1d1d;
  --color-gray-200: #1c1c1c;
  --gray-900: #101828;
  --denim-blue-denim-9: #081524;
  --color-gray-300: #0d0e2b;
  --gray-600: #475467;
  --color-darkslategray-100: #363636;
  --color-darkslategray-200: #343434;
  --color-darkslategray-300: #313435;
  --color-gainsboro-100: #e4e6e6;
  --secondary-gray-2: #e0e2e7;
  --color-gainsboro-200: #d9d9d9;
  --color-whitesmoke-100: #f4f4f4;
  --gray-200: #eaecf0;
  --blue-light: #edfbfe;
  --color-black: #000;
  --color-ghostwhite: #fcf5ff;
  --red-light: #fff3f3;
  --green-light: #edfef9;
  --yellow-light: #fff6e4;
  --green: #87f1d5;
  --color-mediumaquamarine: #82dbc3;
  --tertiary-bg-green: #ddfbea;
  --secondary-green: #249f5d;
  --accent-yellow: #ffb545;
  --accent-teal: #00bebe;
  --secondary-gray-4: #6f727a;
  --color-dimgray-100: #5a5a5a;
  --secondary-gray-3: #9ca1ad;
  --accent-purple: #5a2391;
  --primary-blue: #2e65f3;
  --secondary-red: #f32d2d;
  --color-steelblue: #2a6ab4;
  --color-midnightblue: #000d4b;

  /* Gaps */
  --gap-44xl-3: 63.3px;
  --gap-base: 16px;
  --gap-13xl: 32px;
  --gap-11xl: 30px;
  --gap-xl: 20px;
  --gap-smi: 13px;
  --gap-9xs: 4px;
  --gap-7xl: 26px;
  --gap-lg: 18px;
  --gap-sm: 14px;
  --gap-5xs: 8px;
  --gap-28xl-5: 47.5px;
  --gap-5xl: 24px;
  --gap-6xl-5: 25.5px;
  --gap-7xl-1: 26.1px;
  --gap-28xl: 47px;
  --gap-4xl: 23px;
  --gap-45xl: 64px;
  --gap-10xl: 29px;
  --gap-3xs: 10px;
  --gap-175xl: 194px;
  --gap-29xl: 48px;
  --gap-78xl: 97px;
  --gap-95xl: 114px;
  --gap-38xl: 57px;
  --gap-9xl: 28px;
  --gap-11xs: 2px;
  --gap-21xl: 40px;
  --gap-20xl-7: 39.7px;
  --gap-40xl: 59px;
  --gap-10xs-8: 2.8px;
  --gap-xs-3: 11.3px;
  --gap-11xs-4: 1.4px;
  --gap-mid: 17px;
  --gap-xs: 12px;
  --gap-mid-1: 17.1px;
  --gap-base-9: 15.9px;
  --gap-8xs: 5px;
  --gap-21xl-1: 40.1px;
  --gap-7xs: 6px;
  --gap-7xs-3: 5.3px;
  --gap-base-7: 16.7px;
  --gap-8xs-3: 4.3px;
  --gap-8xs-2: 4.2px;
  --gap-10xs-1: 2.1px;
  --gap-8xl: 27px;
  --gap-100xl-7: 119.7px;
  --gap-41xl: 60px;
  --gap-22xl-5: 41.5px;
  --gap-2xl: 21px;
  --gap-19xl-8: 38.8px;
  --gap-lgi: 19px;
  --gap-5xs-9: 7.9px;
  --gap-2xs-1: 10.1px;

  /* Paddings */
  --padding-20xl-7: 39.7px;
  --padding-154xl: 173px;
  --padding-37xl-2: 56.2px;
  --padding-212xl: 231px;
  --padding-7xl: 26px;
  --padding-24xl: 43px;
  --padding-18xl: 37px;
  --padding-38xl: 57px;
  --padding-96xl: 115px;
  --padding-67xl: 86px;
  --padding-37xl: 56px;
  --padding-5xl-8: 24.8px;
  --padding-4xs: 9px;
  --padding-9xl: 28px;
  --padding-2xl: 21px;
  --padding-base-9: 15.9px;
  --padding-10xs: 3px;
  --padding-sm-3: 13.3px;
  --padding-9xs: 4px;
  --padding-15xl: 34px;
  --padding-8xs: 5px;
  --padding-7xs: 6px;
  --padding-12xs: 1px;
  --padding-49xl: 68px;
  --padding-31xl: 50px;
  --padding-209xl: 228px;
  --padding-25xl: 44px;
  --padding-13xl: 32px;
  --padding-95xl: 114px;
  --padding-10xl: 29px;
  --padding-135xl: 154px;
  --padding-60xl: 79px;
  --padding-20xl: 39px;
  --padding-81xl: 100px;
  --padding-3xl: 22px;
  --padding-5xl: 24px;
  --padding-21xl: 40px;
  --padding-101xl: 120px;
  --padding-xl: 20px;
  --padding-55xl: 74px;
  --padding-57xl: 76px;
  --padding-19xl: 38px;
  --padding-11xs: 2px;
  --padding-30xl: 49px;
  --padding-41xl: 60px;
  --padding-11xl: 30px;
  --padding-3xs: 10px;
  --padding-138xl: 157px;
  --padding-59xl: 78px;
  --padding-36xl: 55px;
  --padding-16xl: 35px;
  --padding-141xl: 160px;
  --padding-61xl: 80px;
  --padding-17xl: 36px;
  --padding-20xl-9: 39.9px;
  --padding-70xl-5: 89.5px;
  --padding-221xl-8: 240.8px;
  --padding-39xl: 58px;
  --padding-83xl: 102px;
  --padding-smi-8: 12.8px;
  --padding-xs: 12px;
  --padding-33xl: 52px;
  --padding-153xl: 172px;
  --padding-base: 16px;
  --padding-6xs: 7px;
  --padding-31xl-2: 50.2px;
  --padding-4xs-2: 8.2px;
  --padding-5xs: 8px;
  --padding-27xl: 46px;
  --padding-12xs-1: 0.1px;
  --padding-8xs-5: 4.5px;
  --padding-11xs-5: 1.5px;
  --padding-mini-9: 14.9px;
  --padding-sm: 14px;
  --padding-mini-4: 14.4px;
  --padding-10xs-2: 2.2px;
  --padding-smi: 13px;
  --padding-96xl-8: 115.8px;
  --padding-56xl: 75px;
  --padding-75xl: 94px;
  --padding-7xl-5: 26.5px;
  --padding-8xl: 27px;
  --padding-22xl: 41px;
  --padding-3xs-6: 9.6px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-5xs: 8px;
  --br-xl: 20px;
  --br-4xs-5: 8.5px;
  --br-xs-3: 11.3px;
  --br-7xs: 6px;
  --br-11xs: 2px;
  --br-10xs-1: 2.1px;
  --br-4xs-9: 8.9px;
  --br-11xs-1: 1.1px;
  --br-3xs: 10px;
  --br-8xs: 5px;
}
